.table td,
.table th {
  vertical-align: middle;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px 15px;
}

.modal-header {
  border-bottom: 2px solid #ddd;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-hover tbody tr:hover {
  background-color: #f9f9f9;
}

.table td {
  text-align: center !important;
  vertical-align: middle;
  line-height: 50px;
}

.btn-action-details,
.btn-action-update {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  padding: 10px;
  border-radius: 20%;
  width: 35px;
  height: 35px;
  border: none;
}

.btn-action-details {
  background-color: #17a2b8;
}
.btn-action-update {
  background-color: #29b466;
}

.btn-action-details:hover {
  background-color: #138496;
}
.btn-action-update:hover {
  background-color: #30955c;
}

#tablaDetalles .form-control[readonly] {
  background-color: #fff;
}
