.table td,
.table th {
  vertical-align: middle;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px 15px;
}

.modal-header {
  border-bottom: 2px solid #ddd;
}

.table-hover tbody tr:hover {
  background-color: #f9f9f9;
}

.badge {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
}

.badge-pendiente {
  background-color: rgb(255 193 7 / 0.11);
  color: #ffc107;
}

.badge-entregado {
  background-color: rgb(23 160 14 / 0.11);
  color: #15ca20;
}

.badge-cancelado {
  background-color: rgb(244 17 39 / 0.11);
  color: #fd3550;
}

.cliente-name {
  background-color: #509faf;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
  box-shadow: 0 2px 4px #2f7c80;
}

.btn-action-details,
.btn-action-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  padding: 10px;
  border-radius: 20%;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-action-details {
  background-color: #17a2b8;
}

.btn-action-details:hover {
  background-color: #138496;
}

.btn-action-delete {
  background-color: #dc3545;
}

.btn-action-delete:hover {
  background-color: #c82333;
}

.input-60 {
  width: 1100px !important;
}

.modal.show {
  background: rgba(0, 0, 0, 0.5);
}

/* Ajustes para el backdrop modal */
.modal-backdrop {
  display: none;
}

.modal.show {
  display: block;
}
