.custom-divider {
  display: block;
  border-left: 1px solid #ddd;
  height: 100%;
  width: 0;
}

.btn-success,
.btn-warning {
  background-color: #3ea556d3;
  border-color: #28a745;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  line-height: 10px;
}

.btn-warning {
  background-color: #ffd149;
  border-color: #ffc107;
}

.table th,
.table td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 9px 15px;
  vertical-align: middle;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}

.product-show {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.modal.show {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1250px) {
  .custom-divider {
    border-top: 2px solid #ddd;
    margin: 25px 0;
    width: 100%;
    height: 0;
  }

  .page-wrapper .row {
    flex-direction: column;
    align-items: stretch;
  }

  .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }
}
